<a class="dropdown-item" href="#" (click)='triggerEditor($event)' (outSideClick)="closeEditor()">
    <figure class="clr-col-4">
        <img src="https://via.placeholder.com/45/45">
    </figure>
    <div class="clr-col-8 item-info">
        <p class="name">{{cartItem.name}}</p>
        <p class="details">
            <span class="price">{{cartItem.price | currency}}</span>
            <span class="quantity">{{ cartItem.amount}} x</span>
        </p>
    </div>
</a>
<div *ngIf='isEditorOpen' [@openCloseEditor]="isEditorOpen ? 'open' : 'close'" class="dropdown-item-editor">
    <button class="color-danger" (click)='onItemDelete()'>
        <clr-icon class='shape' shape="times "></clr-icon>
    </button>
</div>